<!DOCTYPE html>
<html style="margin: 0; border: 0; height: 100%">
<head>
    <title>
        YoAgents Web Conference
    </title>
</head>
<body style="margin: 0; border: 0; height: 100%; font-family: sans-serif">
<table style="width: 100%; height: 100%; border-collapse: collapse">
    <tr style="border: 0; padding: 0; height: 64px; background-color: #1ab394;">
        <td style="padding: 0 15%; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)">
            <table>
                <tr>
                    <td>
                        <img src="" />
                    </td>
                    <td style="padding-left: 10px; font-size: 1.9rem; color: #fff">
                      Lavanderia comunica
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 470px; background-color: #fff;">
        <td style="padding: 0 15%; vertical-align: top; padding-top: 40px;">
            <h3 style="color: #ffa726; font-size: 2.7rem; text-align: center; font-weight: 400;">
                Benvenuto
            </h3>
            Gentile {{name}} {{surname}},
            <br/>
            <br/>
            Benvenuto in comunica.
            <p>
                Il tuo account è stato creato  con le seguenti credenziali:
            </p>
            <p>
                Email: <b> {{username}} </b>
            </p>
            <p>
                Password:<b> {{password}} </b>
            </p>
            <!--<p>
                Per confermare la tua iscrizione clicca sul seguente link
            </p>
			<p>
                <a href="{{link}}">{{link}}</a>
            </p>-->
            <p>
                Cordiali saluti.
            </p>
            <br/>
        </td>
    </tr>
    <tr style="padding: 0 15%; height: 50px; background-color: #1ab394">
        <td>

        </td>
    </tr>
</table>
</body>
</html>
